fastapi==0.111.0
uvicorn==0.29.0
langchain-community
langchain-openai
langchain-google-genai==1.0.6
langgraph==0.0.61
pydantic
python-dotenv
semantic-chunkers
semantic-router
tavily-python
python-multipart
httpx
sqlalchemy
asyncpg
aiosqlite
alembic
python-jose[cryptography]
chromadb
passlib[bcrypt]
langgraph[redis]
langgraph-checkpoint-sqlite
langgraph-checkpoint-redis